<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('headder', {head: {
        title: "Web Calculator",
        css: ["nav", "calculator"]
    }} )%>
</head>
<body>
    <%- include('nav', {nav: {
        Brand: "Calculator"
    }}) %>
    <div class="cal">
        <form preventDefault=true class="CalForm" id="CalForm">
            <label for="io"><input type="text" id="io" placeholder="0"></label>
            <div class="calBtns">
                <button class="btn">(</button>
                <button class="btn">)</button>
                <button class="btn">%</button>
                <button class="btn">AC</button>

                <button class="btn">7</button>
                <button class="btn">8</button>
                <button class="btn">9</button>
                <button class="btn">/</button>

                <button class="btn">4</button>
                <button class="btn">5</button>
                <button class="btn">6</button>
                <button class="btn">*</button>

                <button class="btn">1</button>
                <button class="btn">2</button>
                <button class="btn">3</button>
                <button class="btn">-</button>

                <button class="btn">0</button>
                <button class="btn">.</button>
                <button class="btn">=</button>
                <button class="btn">+</button>
            </div>
        </form>
    </div>
    <%- include('footter', {
        foot: {
            js: []
        }
    })%>
</body>
</html>