<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('headder', {head: {
        title: "WEB PROJECTS",
        css: ["nav"]
    }} )%>
</head>
<body>
    <%- include('nav', {nav: {
        Brand: "WEB PROJECTS"
    }}) %>
    <%- include('footter', {
        foot: {
            js: []
        }
    })%>
</body>
</html>