<div class="navbar">
    <div class="navBrand"><%= nav.Brand %></div>
    <ul class="navList">
        <li class="navItems">
            <a href="/" class="navLink">Home</a>
        </li>
        <li class="navItems">
            <a href="/calculator" class="navLink">Calculator</a>
        </li>
        <li class="navItems">
            <a href="/games" class="navLink">Games</a>
        </li>
    </ul>
</div>