.container {
    border: 1px solid #000;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: .4rem;
}

.sidePannel {
    height: 200vh;
    border: 1px solid #000;
    border-radius: .5rem;
    background-color: aqua;
}

.main {
    border: 1px solid #000;
    border-radius: .5rem;
    background-color: aquamarine;
}
