* {
    transition: all 200ms ease-in-out;
    border-radius: .5rem;
}

body {
    margin: auto;
    padding: 0;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
}

.scale {
    height: 150vh;
    background-color: aqua  ;
}

/* NavBar */

.navbar {
    background-color: #ecececf4;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    opacity: 95%;
    margin-bottom: 1rem;
}

.navBrand {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
}

.navList {
    display: flex;
    align-self: center;
}

.navItems {
    list-style: none;
    padding: .2rem;
}

.navLink {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

.navLink:hover {
    color: #000;
    text-decoration: underline;
}
