* {
    transition: all 200ms ease-in-out;
    border-radius: .5rem;
}

body {
    margin: auto;
    padding: 0;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
}
